*.pyc
__pycache__
zt_react/node_modules
zt_react/dist/scripts.dev.js
zt_react/node_modules
webpack-stats.dev.json
dist
.env
.vscode
node_modules
.sass-cache
.pytest_cache
media
.media-test
zt_dd.egg-info